#FieldArea {
    position: fixed;
    width: 25%;
    height: 25%;
    top: 10px;
    left: 10px;
    user-select: none;
}

#OutArea {
    position: fixed;
    width: 25%;
    height: 25%;
    top: calc(20px + 25%);
    left: 10px;
    user-select: none;
}

#FieldTitle {
    position: absolute;
    width: calc(100% - 20px);
    height: 24px;
    top: 10px;
    left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    user-select: none;
}

#OutTitle {
    position: absolute;
    width: calc(100% - 20px);
    height: 24px;
    top: 10px;
    left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    user-select: none;
}

#Field {
    position: absolute;
    display: block;
    overflow: auto;
    word-break: break-all;
    width: calc(100% - 20px);
    height: calc(100% - 110px);
    top: 44px;
    left: 10px;
    margin: initial;
    border-radius: 0;
    border: 2px solid #404040;
    background-color: #303030;
    font-size: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

#OutField {
    position: absolute;
    display: block;
    overflow: auto;
    word-break: break-all;
    width: calc(100% - 20px);
    height: calc(100% - 110px);
    top: 44px;
    left: 10px;
    margin: initial;
    border-radius: 0;
    border: 2px solid #404040;
    background-color: #303030;
    font-size: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
}

#Submit {
    position: absolute;
    width: calc(100% - 20px);
    height: 32px;
    bottom: 10px;
    left: 10px;
    border: 2px solid #404040;
    background-color: #303030;
    font-size: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

#OutSubmit {
    position: absolute;
    width: calc(100% - 20px);
    height: 32px;
    bottom: 10px;
    left: 10px;
    border: 2px solid #404040;
    background-color: #303030;
    font-size: 100%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

#Data {
    position: fixed;
    width: 70%;
    height: 100%;
    right: 0px;
    top: 0px;
    user-select: none;
}

#DataBox {
    position: absolute;
    margin: 25px;
    border: 2px solid #404040;
    background-color: #202020;
    width: calc(100% - 54px);
    height: calc(100% - 54px);
    overflow: auto;
    user-select: none;
}

.EditData {
    position: relative;
    display: flex;
    align-items: center;
    margin: 25px;
    border: 2px solid #303030;
    background-color: #202020;
    width: calc(100% - 54px);
    height: 46px;
}

.EditDataTitle {
    position: relative;
    display: flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 24px;
    padding-left: 10px;
}

.EditDataCV {
    position: relative;
    display: flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 24px;
    padding-left: 50px;
}

.EditDataSub {
    position: absolute;
    display: flex;
    right: 10px;
    width: 76px;
    align-items: center;
    justify-content: center;
    height: 50%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 20px;
    border: 2px solid #404040;
    background-color: #303030;
}

.EditDataInput {
    position: absolute;
    display: flex;
    width: 196px;
    align-items: center;
    justify-content: center;
    height: 50%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 20px;
    border: 2px solid #404040;
    background-color: #303030;
}

#UpdateLogLink {
    position: fixed;
    display: flex;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 20px;
    border: 2px solid #404040;
    background-color: #303030;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

#CreditsLink {
    position: fixed;
    display: flex;
    bottom: 10px;
    left: 170px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 20px;
    border: 2px solid #404040;
    background-color: #303030;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

#DiscordLink {
    position: fixed;
    display: flex;
    bottom: 55px;
    left: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 20px;
    border: 2px solid #404040;
    background-color: #303030;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

#HowToUseLink {
    position: fixed;
    display: flex;
    bottom: 55px;
    left: 170px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    user-select: none;
    font-size: 20px;
    border: 2px solid #404040;
    background-color: #303030;
    width: 150px;
    height: 35px;
    align-items: center;
    justify-content: center;
}
